# dependencies
/node_modules

# next
/.next
/out
next-env.d.ts
*.tsbuildinfo

# build / runtime
/data
*.db
*.db-journal
*.db-wal
*.db-shm

# logs
*.log
npm-debug.log*

# env
.env*.local

# os
.DS_Store
Thumbs.db
